.bgimg{
    background-image: url(img/coding-g7b11ea847_1920.jpg);
    background-size: 100% 100%;
    background-attachment:fixed ;
    background-position: center;
    width: 100%;
    height: 650px;
}
#home{
    color: chartreuse;
}
.headerset{
    padding-top: 250px;
    box-sizing: border-box;
}
.headerset h2{
font-size:42px ;
}

.headerset h1{
   font-size: 82px; 
   font-weight: bold;
}

/* ................ourservises................ */
.ourservises{
    padding: 100px 0px 60px;
    height: 700px;
}
.rowsetting{
    margin: 80px 0px important;
}
.ourservises h1{
    font-size: 50px;
    font-weight: bold;
}
.imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.fa-shopping-cart {
    margin-top: 26px;
}
.fa-desktop {
    margin-top: 26px;
}
.fa-lock{
    margin-top: 26px;
}
.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.rowsetting p{
    padding: 25px;
color:#6c757d!important;
}
/* //////////////////////portfolio////////////////// */
.portfolio{
height: 1100px;
width: 100%;
padding: 100px 0px 50px;
}
.portfolio h1{
    font-size: 30px;
    font-weight: bold;
}
.card{
    margin-top:50px ;
}
/* ///////////////////ourteam////////////////// */

.ourteam{
    height: 700px;
    padding: 100px 0px 60px;
    width: 100%;
}
.ourteam h1{
    font-size: 50px;
    font-weight: bold;
}

.teamsetting{
    margin-top: 70px !important;
}

/* ////////////////////footer//////////////// */
.footer{
height: 50px;
}
.footer h6{
    line-height: 50px;
}


/* //////////////////responsive/////////////////////// */
@media(min-width:992px){
    .portfolio{
        height: 1200px;
    }
    .ourteam{
        height: 700px;
    }
}  
@media(min-width:768px)and (max-width:991px){
    .headerset h2{
        font-size:33px ;
        }
        
        .headerset h1{
           font-size: 55px; 
           font-weight: bold;
        }
    .ourservises{  
        height: 900px;
    }
    .portfolio{
        height: 1000px;
    }
    .ourteam{
        height: 1100px;
    }
}
@media(min-width:575px) and (max-width:767px){
    .headerset h2{
        font-size:18px ;
        }
        
        .headerset h1{
           font-size: 25px; 
           font-weight: bold;
        }
    .ourservises{
           
        height: 2000px;
    }
    .portfolio{
        height: 700px;
    }
    .ourteam{
        height: 500px;
    }
}
@media(min-width:480px)and (max-width:574px){
    .ourservises{
           
        height: 1500px;
    }
    .portfolio{
        height: 3100px;
    }
    .ourteam{
        height: 1300px;
    }
}
@media(max-width:479px){
    .headerset h2{
        font-size:22px ;
        }
        
        .headerset h1{
           font-size: 42px; 
           font-weight: bold;
        }
        .ourservises{
           
            height: 1900px;
        }
        .portfolio{
            height: 2700px;
        }
        .ourteam{
            height: 1500px;
        }
        .footer{
            height: 100px;
            }
}